@charset "utf-8";
/* main.css */

/******** INTRO ********/

#intro {font-family: var(--eng-font);} 
#intro video {
  width: 100%;height: 100vh;
  object-fit: cover;
}
#intro .video-title {
  position: absolute;z-index: 10;
  left: 50%;bottom: 13%;
  transform: translateX(-50%);
  text-align: center;
}
#intro .video-title span {
  font-size: var(--fz-22);
  line-height: 40px;
}
#intro .video-title h3 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 50px;
}

/* 페이지 번호 */
#intro .custom-fraction {
  position: absolute;z-index: 100;
  right: 18%;bottom: 9%;
  font-size: var(--fz-22);
}
#intro .custom-fraction .all {font-size: var(--fz-14);}

/* 페이지 버튼 */
#intro .arrow-btn {
  position: absolute;top: 90%;
  color: var(--txt-color);
  font-size: var(--fz-20);
}
#intro .swiper-button-prev {left: 10%;}
#intro .swiper-button-next {right: 10%;}
#intro .arrow-btn span {padding: 0.625rem;}

/* 스크롤다운 표시 */
#intro .scroll-mark {
  position: absolute;z-index: 1;
  bottom: 3%;left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#intro .scroll-mark span {
  display: block;
  padding-bottom: 10px;
}

/******** ABOUT ********/

#about article {
  position: absolute;bottom: 0;
  width: 100%;height: calc(100% - 80px);
}
#about h3, #about span {
  font-family: var(--title-font);
  text-align: center;
  opacity: 0;
}
#about h3 {
  margin-top: 20%;
  color: var(--main-color);
  font-size: 4.375rem;
}
#about span {
  display: block;
  margin-top: 2%;
  color: transparent;
  font-size: 2.5rem;
  -webkit-text-stroke: 1px var(--main-color);
}
.btn-shine {
  color: var(--txt-color);
  background: linear-gradient(to right, var(--main-color) 0, white 6%, var(--main-color) 12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite linear;
}
@keyframes shine{
  0%{background-position: 300px;}
  50%{background-position:800px;}
  100%{background-position: 1300px;}
}
.about-img img {position: absolute;}
.cloud1 {
  z-index: 6;
  left: -10%;bottom: -5%;
  width: 63%;
}
.cloud2 {
  z-index: 5;
  bottom: -10%;left: 8%;
  width: 52%;
}
.cloud3 {
  z-index: 4;
  right: -18%;bottom: 0;
  width: 52%;
}
.cloud4 {
  z-index: 3;
  right: 0;bottom: 0;
  width: 52%;
}
.cloud5 {
  top: -10%;left: -18%;
  width: 23%;
}
.cloud6 {
  right: -10%;top: -10%;
  width: 23%;
}
.cloud7 {
  bottom: -10%;left: 0;
  width: 100%;
}
.show {
  z-index: 1;opacity: 0;
  margin-bottom: -10%;
}
.about-img .jisoo {
  bottom: 19%;left: 0;
  width: 24%;
}
.about-img .jennie {
  bottom: 0;left: 23%;
  width: 29%;
}
.about-img .rose {
  bottom: 0;left: 50%;
  width: 27%;
}
.about-img .lisa {
  right: 2%;bottom: 20%;
  width: 25%;
}

.cloud-move1 {animation: cloud1 4s infinite;}
@keyframes cloud1 {
  50% {transform: translateY(-14px);}
  100% {transform: translateY(0px);}
}
.cloud-move2 {animation: cloud2 5s infinite;}
@keyframes cloud2 {
  50% {transform: translateX(-14px);}
  100% {transform: translateX(0px);}
}
.cloud-move3 {animation: cloud3 6s infinite;}
@keyframes cloud3 {
  50% {transform: translateY(-14px);}
  100% {transform: translateY(0px);}
}

/******** PROFILE ********/

.profile-list {  
  position: relative;
  width: 100%;height: 100%;
}
.profile-list li a {
  position: absolute;
  left: 8%;top: 24%;
  background: url(../images/txt_effect.png) no-repeat;
  background-position: 0 8px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.75rem;
  font-family: var(--title-font);
  transition: 0.5s ease-in-out;
}
.profile-list li:nth-child(2) a {top: 36%;}
.profile-list li:nth-child(3) a {top: 48%;}
.profile-list li:last-child a {top: 60%;}

/* 프로필 내용 */
.profile-cont {
  position: absolute;
  top: 0;right: 0;
  width: 72%;height: 100%;
  opacity: 0;
  transition: opacity 0.4s;
}
.fadeIn {opacity: 1;}

.img-box {
  position: absolute;
  left: 8%;top: 65%;
  transform: translateY(-50%);
  width: 42%;
  opacity: 0;
}
.img-box img {
  width: 100%;
  object-fit:cover;
}
.circle1 {
  content: '';display: block;
  position: absolute;z-index: 1;
  bottom: 3%;left: -22%;
  width: 180px;height: 180px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  animation: circle1 2s ease-in-out infinite;
  opacity: 0;
}
.circle2 {
  content: '';display: block;
  position: absolute;z-index: 1;
  top: -7%;left: 90%;
  width: 110px;height: 110px;
  border: 1px solid var(--txt-color);
  border-radius: 50%;
  animation: circle2 2s ease-in-out infinite;
  opacity: 0;
}
@keyframes circle1 {
  50%{bottom: 5%}
  100%{bottom: 3%;}
}
@keyframes circle2 {
  50%{top: -5%;}
  100%{top: -7%;}
}

/* 설명 */
.profile-txt {
  position: absolute;
  right: 16%;top: 50%;
  transform: translateY(-50%);
}
.profile-txt > span {
  position: absolute;
  left: -16px;top: 5px;
  width: 7px;height: 0;
  background: var(--main-color);
}
.profile-name {
  width: 0%;
  overflow: hidden;
}
.profile-name h4 {
  font-size: 3rem;
  font-family: var(--title-font);
  padding-bottom: 6px;
}
.profile-name span {
  font-size: 1.875rem;
  font-family: var(--eng-font);
  white-space: nowrap;
}
.profile-txt ul {
  margin-top: 10%;
  font-size: var(--fz-18);
  opacity: 0;
}
.profile-txt ul li {line-height: 2.25rem;}

@media (max-width: 1350px) {
  .profile-list li a {font-size: 3rem;}
  .profile-name h4 {
    font-size: 2.4rem;
    padding-top: 7px;
  }
  .profile-name span {font-size: var(--fz-24);}
  .profile-txt ul {font-size: 1rem;}
  .profile-txt ul li {line-height: 2rem;}
  .circle1 {width: 150px;height: 150px;}
  .circle2 {width: 90px;height: 90px;}
}

/******** ACTIVITIES ********/

.timeline {
  position: relative;
  width: 10%;height: 85%;
}
.timeline-bar {
  position: absolute;
  left: 20%;top: 0;
  width: 2px;height: 100%;
  background: #fff;
}
.timeline .timeline-gage {
  position: absolute;bottom: 0;
  width: 2px;height: 100%;
  background: var(--main-color);
}
.timeline-bar ol {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  position: absolute;
  height: 100%;
}
.timeline-bar ol li {
  display: flex;gap: 12px;
  align-items: center;
  transform: translateX(-7px);
  font-size: var(--fz-20);
  font-family: var(--eng-font);
  cursor: pointer;
}
.timeline-bar ol li .mark {
  display: block;
  width: 16px;height: 16px;
  background: var(--main-color);
  border-radius: 50%;
}
.timeline-bar ol li:first-child, .timeline-bar ol li:last-child {
  width: 60px;height: 60px;
  transform: translateX(-48%);
  background: var(--bg-color);
  cursor: default;
}
.timeline-bar ol li:first-child {
  width: 35px;height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.timeline-bar ol li:last-child img {width: 100%;}

/* 타임라인 마크 */
.markColor{animation: markColor infinite 0.5s;}
@keyframes markColor {
  0%{background: var(--main-color);}
  50%{background: var(--txt-color);}
  100%{background: var(--main-color);}
}

/* 컨텐츠 */
.content-box {
  position: relative;
  width: 88%;height: 90%;
  border: 1px solid var(--main-color);
}
.act-cont {
  display: none;
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;height: 100%;
}
.act-cont:last-child {display: block;}
.act-cont h4 {
  width: 16%;
  margin: 0 auto;
  transform: translateY(-20px);
  background: var(--bg-color);
  font-size: 34px;
  font-family: var(--title-font);
  text-align: center;
}
.act-cont h4::before, .act-cont h4::after {
  content: '';display: inline-block;
  position: absolute;top: 40%;
  width: 12px;height: 12px;
  border-radius: 50%;
  background: var(--main-color);
}
.act-cont h4::before {left: 0;}
.act-cont h4::after {right: 0;}
.act-desc {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 95%;height: calc(100% - 34px);
  margin: 0 auto;
  overflow: hidden;
}
.act-desc div{width: 33.3%;}
.act-desc h5 {
  padding: 15px 0;
  color: var(--main-color);
  font-size: 32px;
  font-family: var(--title-font);
}
.act-desc h6 {
  position: relative;top: 40px;
  padding: 10px 0;
  color: transparent;
  -webkit-text-stroke: 1px var(--main-color);
  font-size: var(--fz-26);
  font-family: var(--title-font);
  opacity: 0;
}
.act-desc ul {
  position: relative;top: 40px;
  opacity: 0;
}
.act-desc > div:first-child ul {width: 100%;height: 35%;}
.act-desc ul li {
  width: 100%;
  font-size: 1rem;
  line-height: var(--fz-24);
}
.act-desc h6:nth-of-type(2) {padding-top: 50px;}
.act-img {
  text-align: center;
  align-self: flex-end;
}
.act-img img:first-child {
  position: relative;z-index: 1;
  bottom: -30px;
  width: 100%;min-width: 300px;
  opacity: 0;
}
.act-cont img:last-child {
  position: absolute;
  bottom: 0;left: 50%;
  transform: translateX(-50%);
  width: 50%;
  opacity: 0;
}

/* 스크롤바 */
.scroll_box {
  width: 100%;height: 58%;
  overflow-y: scroll;
}
.scroll_box::-webkit-scrollbar {width: 6px;}
.scroll_box::-webkit-scrollbar-track {background-color: transparent;}
.scroll_box::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--main-color);
}

@media (max-width: 1350px) {
  .act-cont h4 {
    width: 20%;
    font-size: 30px;
  }
  .act-desc h5 {font-size: var(--fz-28);}
  .act-desc h6 {font-size: var(--fz-22);}
  .act-desc ul li {
    font-size: 14px;
    line-height: var(--fz-20);
  }
}

/******** ALBUM ********/

/* 앨범리스트 */
.album-list {
  position: absolute;
  bottom: -80px;left: 0;
  width: 100%;
  opacity: 0;
}
.albumSlide {
  width: 90%;
  margin: 0 auto;
  overflow-x: clip;
}
.albumSlide .swiper-slide img:first-child {
  position: relative;z-index: 2;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #474747;
  box-sizing: border-box;
}
.albumSlide .swiper-slide img:first-child:hover {
  filter: brightness(0.8);
}

/* 좌우버튼 */
.album-list div[class*=arrow] {
  position: absolute;top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow-prev {left: 0;}
.arrow-next {right: 0;}

/* CD 플레이 */
.albumSlide .swiper-slide .album-cd {
  width: inherit;height: inherit;
  position: absolute;
  left: 0;top: 0;
}

.play {
  animation: cdPlay 2s linear infinite;
}
@keyframes cdPlay {
  100% {transform: rotate(360deg);}
}

/* 앨범 내용 */
.album-cont {
  position: relative;z-index: 10;
  width: 90%;
  margin: 0 auto;
  display: none;
}
.album-box {
  justify-content: normal;
  flex-wrap: wrap;
  gap: 2%;
}
.album-box img {
  width: 10%;height: 10%;
  min-width: 100px; min-height: 100px;
}
.album-txt {
  width: 22%;
  font-family: var(--eng-font);
} 
.album-txt h4 {
  font-size: 30px;
  line-height: 35px;
}
.album-txt span {
  display: inline-block;
  padding-top: 9%;
  font-size: var(--fz-20);
}
.album-txt ul {
  justify-content: normal;gap: 9%;
  margin: 6% 9% 0 0;
  float: right;
}
.album-txt ul li a {
  display: inline-block;
  width: 32px;line-height: 32px;
  border: 1px solid var(--txt-color);
  border-radius: 50%;
  text-align: center;
  transition: 0.2s;
}
.album-txt ul li a:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.album-txt ul li i {
  transform: translateY(5px);
  font-size: var(--fz-20);
}
.album-box ol {
  display: grid;
  grid-template-rows: repeat(4, 34px);
  grid-auto-flow: column;
  position: relative;
  width: 58%;margin-left: 3%;
  font-size: var(--fz-20);
  line-height: 34px;
}
.album-box ol:before {
  content: '';display: block;
  position: absolute;top: 50%;
  transform: translate(-24px, -50%);
  width: 3px;height: 88%;
  background: var(--main-color);
}
.album-box ol li span {
  padding-right: 12px;
  color: #cecece;
  font-size: 1rem;
}
.album-box p {
  width: 59%;
  margin: 10px 0 0 39%;
  float: right;
  line-height: 22px;
}

/* 페이지 번호 */
.album-cont .page-num {
  float: right;
  padding-top: 1%;
  font-size: 1rem;
  font-family: var(--eng-font);
  transition: 0.4s;
}

@media (max-width: 1570px) {
  .album-txt {width: 25%;}
  .album-txt h4 {font-size: var(--fz-24);}
  .album-txt span {
    font-size: var(--fz-18);
    line-height: var(--fz-28);
  }
  .album-box ol {
    width: 57%;
    font-size: var(--fz-18);
  }
  .album-box p {
    width: 94%;
    margin: 1% 0 0 12%;
  }
  .album-cont .page-num {font-size: 14px;}
}
@media (max-width: 1200px) {
  .album-txt {width: 28%;}
  .album-txt span {padding-top: 8%;}
  .album-box ol {width: 52%;}
  .album-txt span {font-size: 1rem;}
}

/******** GALLERY ********/

#gallery h4 {
  font-size: var(--fz-20);
  font-family: var(--eng-font);
  padding-left: 1%;
}
#gallery h4::before {
  content: '';display: inline-block;
  width: 3px;height: 17px;
  transform: translate(-8px, 2px);
  background: var(--main-color);
}
.gallerySlide {
  width: 100%;height: 100%;
  margin: 1% auto 0;
  overflow: hidden;
}
.gallerySlide .swiper-wrapper {
  transition-timing-function: linear;
}
.gallerySlide .swiper-slide {margin: 0 5px;}

/* 그리드 레이아웃 */

/* 수평 2칸 */
.h-stretch {grid-column: span 2;}
/* 수직 2칸 */
.v-stretch {grid-row: span 2;}
/* 4칸 */
.big-stretch {grid-row: span 2;grid-column: span 2;}

/* 그리드 반응형 */
@media (max-width: 560px) {
  .v-stretch{grid-row: span 1;}
  .h-stretch{grid-column: span 1;}
  .big-stretch{grid-column: span 1;grid-row: span 1;}
}

.photo {
  width: 100%;height: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit ,minmax(10%, 1fr));
  grid-auto-rows: 46%;
  grid-auto-flow: column;
}
.photo div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s;
}
.photo div img:hover {filter: brightness(0.8)}

/* 이미지 모달창 */
.modal-img {
  position: relative;
  width: calc(88% - 4px);height: 100%;
}
.modal-img div {
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;min-width: 320px;
}
.modal-img > div > img {width: 100%;}

/* 페이지번호 */
.modal-img .page{
  display: block;
  position: absolute;
  right: -24%;bottom: 49%;
  font-size: var(--fz-20);
  font-family: var(--eng-font);
}
.modal-img > div i {
  display: block;
  position: absolute;top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
/* 좌측 버튼 */
.modal-img > div i:first-of-type {left: -38%;}

/* 우측 버튼 */
.modal-img > div i:last-of-type {right: -38%;}

/* 닫기 버튼 */
.modal-img > i {
  position: absolute;
  top: 2%;right: 1%;
  cursor: pointer;
}

/* 썸네일 리스트 */
.img-index {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(10, calc(10% - 2px));
  grid-gap: 2px;
  position: absolute;
  top: 0;right: 0;
  width: 10%;height: 100%;
  padding: 0 1%;
  background: #000;
}
.img-index li {
  width: 100%;height: 100%;
}
.img-index li img {
  display: block;
  width: 100%;height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  transition: filter 0.3s;
  cursor: pointer;
}
.img-index li img:hover {
  border: 3px solid var(--main-color);
  filter: brightness(0.7);
}

@media (max-width: 1200px) {
  .modal-img .page{
    right: -23%;
    font-size: var(--fz-18);
  }
  .modal-img > div i:first-of-type {left: -35%;}
  .modal-img > div i:last-of-type {right: -35%;}
}

/******** NEWS ********/

.carousel {
  position: relative;
  width: 92%;height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.carousel-wrap {
  display: flex;
  position: relative;
  width: 200%;
  height: 100%;
}
.card {
  position: relative;
  width: 100%;
  padding: 20px 15px;
  border: 1px solid #fff;
  transition: 0.3s;
}
.card:not(:last-child) {
  margin-right: 1%;
}
.card:hover {background: rgba(238,153,172,0.1);}
.card .date {
  display: block;
  margin-bottom: 3%;
  padding-bottom: 1%;
  border-bottom: 1px solid #fff;
  font-size: 1rem;
  font-family: var(--eng-font);
}
.card-img {
  position: relative;
  width: 100%;height: 45%;
  margin-bottom: 2%;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #fff;
}
.card-img .news-slide {
  position: relative;
  width: 100%;height: 100%;
}
.news-slide li {
  width: 100%;height: 100%;
}
.news-slide li img {
  width: 100%;height: 100%;
  object-fit: cover;
}
.card-img .ctrl-btn {
  position: absolute;
  top: 50%;right: 5px;
  padding: 4px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}
.ctrl-btn li {
  width: 11px;height: 11px;
  margin: 6px 0;
  background: var(--txt-color);
  border-radius: 50%;
  cursor:pointer;
}
.card-txt {height: 100%;}
.card-txt h4 {
  margin-bottom: 2%;
  font-size: var(--fz-18);
  font-weight: bold;
  line-height: var(--fz-24);
}
.card-txt span {color: #cecece;}
.card-txt p {
  margin: 3% 0;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap:break-word;
  display: -webkit-box;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
}
.card-txt a {
  display: block;
  position: absolute;
  bottom: 3%;right: 3%;
}
.card-txt a img {
  margin-left: 5px;
  width: 60px;height: auto;
}

/* 좌우버튼 */
#news .inner-box i {
  position: absolute;top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#news .inner-box i:first-of-type {left: 0;}
#news .inner-box i:last-of-type {right: 0;}

@media (max-width: 1500px) {
  .card .date {font-size: var(--fz-14);}
  .card-txt h4 {font-size: 1rem;}
  .card-txt p {-webkit-line-clamp: 8;}
}